<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Thẻ meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Quản lý ô tô cho showroom">
    <meta name="keywords" content="">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/favicon_car/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/favicon/favicon_car/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/favicon/favicon_car/favicon-16x16.png">
    <link rel="manifest" href="/src/favicon/favicon_car/site.webmanifest">
    

    <!-- CSS link -->
    <link rel="stylesheet" href="../themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/src/statics/css/homepage.css">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/78b1124a32.js" crossorigin="anonymous"></script> 

    <!-- Bootstrap 5 link -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JQuery link -->
    <script src="jquery-3.7.1.min.js"></script>
    <!-- Tên trang web -->
    <title>DAK OF CAR</title>
</head>
<body>
    <div class="main">
        <div class="header container-fluid">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-sm justify-content-start">
                <div class="navbar-brand">
                    <img class="section-logo" src="../image/logo.jpg" alt="logo">
                </div>
                <ul class="text-center">
                    <li class="nav-item col-sm-4 col-md-4">
                        <a class="nav-link text-white" href="./homepage.html">Trang chủ</a>
                    </li>
                    <li class="nav-item col-sm-4 col-md-4">
                        <a class="nav-link text-white" href="./news.html">Tin tức</a>
                    </li>
                    <li class="nav-item col-sm-4 col-md-4">
                        <a class="nav-link text-white" href="./contact.html">Liên hệ</a>
                    </li>
                    <li class="nav-item col-sm-4 col-md-4">
                        <a class="nav-link text-white" href="./address.html">Địa chỉ</a>
                    </li>
                </ul>
            </nav>
            <div class="section-search">
                <input type="text" name="" required placeholder="Tìm kiếm....." id="search-tab">
                <i class="search-icon ti-search"></i>
            </div>
        </div>
        <div class="slider">
            <img class="nature" src="../image/car-1.jpg" >
            <img class="nature" src="../image/car-2.jpg" >
            <img class="nature" src="../image/car-3.jpg" >
            <div class="text-content text-center">
                <h3>Này em</h3>
                <p>Đường tình anh thua</p>
                <p>Đường đua anh không ngán</p>
            </div>
        </div>
        <div id="content">
            <div class="information">
                <div class="price">
                    <h4>KHOẢNG GIÁ</h4>
                    <ul>
                        <li>
                            <a href="#tab_duoi--500tr">Dưới 500 Triệu</a>
                        </li>
                        <li>
                            <a href="#tab_500--800tr">500-800 Triệu</a>
                        </li>
                        <li>
                            <a href="#tab_duoi--1ty">Dưới 1 Tỷ</a>
                        </li>
                        <li>
                            <a href="#tab_1--2ty">1 Tỷ - 2 Tỷ</a>
                        </li>
                    </ul>
                </div>
                <div class="information-car">
                    <div class="section-content" id="tab_duoi--500tr">
                        <div class="information-item">
                            <p class="name-car">Ford ecosport 2021</p>
                            <img src="../image/Ford-ecosport-2021.jpg" alt="Ford-ecosport-2021">
                            <div class="information-car">
                                <p class="price-car">600 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 250 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2021</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  20.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Ford Everest 2021</p>
                            <img src="../image/Ford-Everest-2021jpg.jpg" alt="Ford-Everest-2021">
                            <div class="information-car">
                                <p class="price-car">750 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 320 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2021</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  30.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Ford ranger 2021</p>
                            <img src="../image/Ford-ranger-2021.jpg" alt="Ford-ranger-2021">
                            <div class="information-car">
                                <p class="price-car">900 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 400 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2021</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  25.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Toyota Fortuner 2013</p>
                            <img src="../image/Toyota-Fortuner-2013-16-768x576.jpg" alt="Toyota-Fortuner-2013">
                            <div class="information-car">
                                <p class="price-car">450 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 120 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2013</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  45.000Km</p>
                            </div>
                        </div>
                    </div>
                    <div class="section-content content-top" id="tab_500--800tr">
                        <div class="information-item">
                            <p class="name-car">Hyundai Santafe 2020</p>
                            <img src="../image/Hyundai-Santafe-2020.jpg" alt="Hyundai-Santafe-2020">
                            <div class="information-car">
                                <p class="price-car">600 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 250 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2020</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  20.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">i10 2018</p>
                            <img src="../image/i10-2018.jpg" alt="i10-2018">
                            <div class="information-car">
                                <p class="price-car">500 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 200 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2018</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  25.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Toyota Cross V 2021</p>
                            <img src="../image/Toyota-Cross-V-2021.jpg" alt="Toyota-Cross-V-2021">
                            <div class="information-car">
                                <p class="price-car">800 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 400 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2021</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  20.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Hyundai 2.4 2021</p>
                            <img src="../image/Hyundai-2.4-2021.jpg" alt="Hyundai-2.4-2021">
                            <div class="information-car">
                                <p class="price-car">600 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 300 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2021</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  15.000Km</p>
                            </div>
                        </div>
                    </div>
                    <div class="section-content content-top" id="tab_duoi--1ty">
                        <div class="information-item">
                            <p class="name-car">Tucson 2.0 2020</p>
                            <img src="../image/Tucson-2.0-dacbiet-2020.jpg" alt="Tucson-2.0-dacbiet-2020">
                            <div class="information-car">
                                <p class="price-car">800 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 350 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2020</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  30.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Toyota Fortuner Legender 2021</p>
                            <img src="../image/Toyota-Fortuner-Legender-2021.jpg" alt="Toyota-Fortuner-Legender-2021">
                            <div class="information-car">
                                <p class="price-car">850 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 400 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2020</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  32.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Toyota Fortuner 2019</p>
                            <img src="../image/Toyota-Fortuner-2019 (2).jpg" alt="Toyota-Fortuner-2019">
                            <div class="information-car">
                                <p class="price-car">850 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 300 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2019</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  35.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Toyota Fortuner 2020</p>
                            <img src="../image/Toyota-Fortuner-2020.jpg" alt="Toyota-Fortuner-2020">
                            <div class="information-car">
                                <p class="price-car">750 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 300 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2020</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  33.000Km</p>
                            </div>
                        </div>
                    </div>
                    <div class="section-content content-top" id="tab_1--2ty">
                        <div class="information-item">
                            <p class="name-car">Xpander Đen 2022</p>
                            <img src="../image/Xpander-đen-2022.jpg" alt="Xpander-đen-2022">
                            <div class="information-car">
                                <p class="price-car">1 Tỷ 200 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 600 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2022</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  10.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Xpander Trắng 2020</p>
                            <img src="../image/Xpander-trắng-2020.jpg" alt="Xpander-trắng-2020">
                            <div class="information-car">
                                <p class="price-car">1 Tỷ</p>
                                <p class="sub-heading">Trả trước chỉ từ 550 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2020</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  8.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Toyota Fortuner Legender 2021</p>
                            <img src="../image/Toyota-Fortuner-Legender-2021.jpg" alt="Toyota-Fortuner-Legender-2021">
                            <div class="information-car">
                                <p class="price-car">1 Tỷ 300 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 700 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2021</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  10.000Km</p>
                            </div>
                        </div>
                        <div class="information-item">
                            <p class="name-car">Toyota Fortuner 2020</p>
                            <img src="../image/Toyota-Fortuner-2020.jpg" alt="Toyota-Fortuner-2020">
                            <div class="information-car">
                                <p class="price-car">1 Tỷ 100 Triệu</p>
                                <p class="sub-heading">Trả trước chỉ từ 650 triệu</p>
                                <p class="parameter"><i class="ti-calendar section-icon"></i>  2020</p>
                                <p class="parameter"><i class="ti-dashboard section-icon"></i>  11.000Km</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Trustworthiness">
                    <img class="bgr-img" src="../image/th.jpeg" alt="anh-nen">
                    <div class="Trustworthiness-header">
                        <p>TẠI SAO DAK OF CAR LÀ ĐỊA CHỈ MUA XE CŨ ĐÁNG TIN CẬY?</p>
                    </div>
                    <div class="Trustworthiness-lists">
                        <div class="Trustworthiness-item">
                            <p><i class="ti-receipt tr-icon"></i></p>
                            <p class="slogan">Pháp lý rõ ràng</p>
                            <p class="slogan slogan-top">Sang tên nhanh gọn</p>
                            <p class="sub-slogan">Cam kết xe cung cấp tới khách hàng đều có đầy đủ hồ sơ pháp lý rõ ràng, quy trình sang tên nhanh gọn.</p>
                        </div>
                        <div class="Trustworthiness-item">
                            <p><i class="ti-thumb-up tr-icon"></i></p>
                            <p class="slogan">Quy trình nhập xe nghiêm ngặt</p>
                            <div class="sub-slogan">Toàn bộ xe nhập về showroom đều được kiểm định khắt khe bởi chuyên gia hơn 10 năm kinh nghiệm.</div>
                        </div>
                        <div class="Trustworthiness-item">
                            <p><i class="ti-car tr-icon"></i></p>
                            <p class="slogan">Hỗ trợ giao xe toàn quốc</p>
                            <div class="sub-slogan">Quý khách hàng ở tỉnh, thành phố khác ngoài Hà Nội đều được hỗ trợ xem xe và giao xe tận nơi bởi Bcar.</div>
                        </div>
                        <div class="Trustworthiness-item">
                            <p><i class="ti-money tr-icon"></i></p>
                            <p class="slogan">Hỗ trợ trả góp lên tới 70%</p>
                            <div class="sub-slogan">Quý khách có thể sở hữu ngay chiếc xe yêu thích của mình chỉ từ 30% giá trị xe với thủ tục trả góp nhanh chóng.</div>
                        </div>
                    </div>
                </div>
                <div class="utilities">
                    <div class="section-utilities">
                        <div class="util-header">
                            <p>TIỆN ÍCH DÀNH CHO BẠN</p>
                        </div>
                        <div class="util-lists">
                            <div class="item">
                                <i class="ti-search fix-icon"></i>
                                <p>Tìm xe</p>
                                <div class="item-bottom"></div>
                            </div>
                            <div class="item">
                                <i class="ti-car fix-icon"></i>
                                <p>Yêu cầu đặt xe</p>
                                <div class="item-bottom"></div>
                            </div>
                            <div class="item">
                                <i class="ti-thumb-up fix-icon"></i>
                                <p>Ký gửi xe</p>
                                <div class="item-bottom"></div>
                            </div>
                            <div class="item">
                                <i class="ti-truck fix-icon"></i>
                                <p>Đổi xe</p>
                                <div class="item-bottom"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fix-contact">
                        <p class="util-header">NHẬN TƯ VẤN</p>
                        <p class="sub-contact-hd">Quý khách vui lòng để lại thông tin, đội ngũ tư vấn viên của DAK OF CAR HÀ NỘI sẽ liên hệ và tư vấn trực tiếp.</p>
                        <div class="lists-input">
                            <input type="text" name="" required placeholder="Họ tên..." id="" class="section-input">
                            <input type="text" name="" required placeholder="Số điện thoại" id="" class="section-input">
                        </div>
                        <button>Yêu cầu tư vấn</button>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-content">
                        <div class="address">
                            <img src="../image/logo.jpg" alt="logo">
                            <h4>DAK OF CAR HÀ NỘI - VƯƠNG QUỐC GẦM CAO</h4>
                            <p><i class="ti-location-pin"></i>26 đường Cầu Diễn, phường Phú Diễn, quận Bắc Từ Liêm, Hà Nội</p>
                            <p><i class="ti-email"></i> dakofcar@gmail.com</p>
                            <p><i class="ti-headphone-alt"></i> Hotline: 0999. 999. 999</p>
                        </div>
                        <div class="policy">
                            <h3>CHÍNH SÁCH</h3>
                            <p>Chính sách thanh toán</p>
                            <p>Chính sách bảo hành</p>
                            <p>Chính sách giao nhận vận chuyển</p>
                            <p>Chính sách bảo mật thông tin</p>
                            <p>Điều kiện và điều khoản</p>
                        </div>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.7452634728297!2d105.75673775075796!3d21.04287628592204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345560ae788aa7%3A0x4c658f950ffb72ca!2zU2nDqnUgVGjhu4sgw5QgVMO0IEJDYXIgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1649730687612!5m2!1svi!2s" width="400" height="250" frameborder="0" allowfullscreen referrerpolicy="no-referrer-when-downgrade" data-ll-status="loaded"></iframe>
                        </div>
                    </div>
                    <div class="footer-ct-bottom">
                        <p>Công Ty TNHH Dak of Car Việt Nam</p>
                        <p>Đại Diện: Lê Trung Kiên.</p>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>Copyright 2023 © Dak of Car - <a href="https://vuongquocgamcao.com/?fbclid=IwAR1m2iB6Zu-OYQlAZENbXcnTKTntiuTkbnTHf7B4mlUllCQmvvDeQhHxKu8">Thiết kế bởi Weboto.com.vn</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- JS link -->
<script src="https://www.w3schools.com/lib/w3.js"></script>  
<script src="/src/statics/js/homepage.js"></script>
</html>