<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Thẻ meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Quản lý ô tô cho showroom">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- CSS link -->
    <link rel="stylesheet" href="./src/statics/css/homepage.css">
    <!-- Font -->

    <!-- Tên trang web -->
    <title>DAK OF CAR</title>
</head>
<body>
    <!--Nhạc nền trang web-->
    <!--<audio src="/src/audio/background.mp3" loop autoplay></audio>-->

    <!-- Navigation -->
    <nav>
        <ul>
            <li>
                <a href="./homepage.html">DAK OF CAR</a>
            </li>
            <li>
                <a href="./homepage.html">HOME</a>
            </li>
            <li>
                <a href="#">NEWS</a>
            </li>
            <li>
                <a href="#">CONTACT</a>
            </li>
        </ul>
    </nav>
    <section>
        <h2>Giới thiệu</h2>
        <img src="./src/image/komi-san test.jpg" alt="Komi-san">
    </section>
    <!-- Footer-->
    <footer>
        Copyright 2023 &copy; 
     </footer>
</body>
<!-- JS link -->
<script src="./src/statics/js/main.js"></script>
</html>