<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Thẻ meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Rước Vàng Cùng Xe, Cả Nhà Vui Vẻ, Nhằm tri ân và kích cầu mua sắm dịp cuối năm Dak of Car Hà Nội hân...">
    <meta name="keywords" content="news, tintuc, DAK, car">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/favicon_car/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/favicon/favicon_car/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/favicon/favicon_car/favicon-16x16.png">
    <link rel="manifest" href="/src/favicon/favicon_car/site.webmanifest">


    <!-- CSS link -->
    <link rel="stylesheet" href="../themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/src/statics/css/news.css">

    <!-- Bootstrap 5 link -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Tên trang web -->
    <title>Tin tức - DAK OF CAR</title>
</head>
<body>
    <div class="main">
        <div class="header container-fluid">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-sm justify-content-start">
                <div class="navbar-brand">
                    <img class="section-logo" src="../image/logo.jpg" alt="logo">
                </div>
                <ul class="text-center row">
                    <li class="nav-item col-sm-5">
                        <a class="nav-link text-white" href="./homepage.html">Trang chủ</a>
                    </li>
                    <li class="nav-item col-sm-5">
                        <a class="nav-link text-white" href="./news.html">Tin tức</a>
                    </li>
                    <li class="nav-item col-sm-5">
                        <a class="nav-link text-white" href="./contact.html">Liên hệ</a>
                    </li>
                </ul>
            </nav>
            <div class="section-search">
                <input type="text" name="" required placeholder="Tìm kiếm....." id="search-tab">
                <i class="search-icon ti-search"></i>
            </div>
        </div>
        <div id="content">
            <div class="information">
                <div class="news">
                    <h2>TIN TỨC</h2>
                    <div class="news-content">
                        <div class="section-news">
                            <div class="news-item row">
                                <a href="https://vuongquocgamcao.com/ruoc-vang-cung-xe-ca-nha-vui-ve/">
                                    <div class="col-xl news-img img-thumbnail">
                                        <img src="../image/news-1.jpg" alt="news-1">
                                    </div>
                                    <div class="col-xl news-text">
                                        <h4>Rước Vàng Cùng Xe, Cả Nhà Vui Vẻ</h4>
                                        <p>Nhằm tri ân và kích cầu mua sắm dịp cuối năm Dak of Car Hà Nội hân...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="news-item row">
                                <a href="https://vuongquocgamcao.com/nhung-luu-y-dac-biet-khi-lai-xe-mua-mua-bao/">
                                    <div class="col-sm-6 news-img img-thumbnail">
                                        <img src="../image/news-2.jpg" alt="news-2">
                                    </div>
                                    <div class="col-sm-6 news-text">
                                        <h4>Những lưu ý đặc biệt khi lái xe mùa mưa bão</h4>
                                        <p>Để tránh những hậu quả đáng tiếc xảy ra với xế yêu của bạn khi...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="news-item row">
                                <a href="https://vuongquocgamcao.com/nhung-thoi-quen-gay-hai-cho-o-to-cua-ban/">
                                    <div class="col-sm-6 news-img img-thumbnail">
                                        <img src="../image/news-3.jpg" alt="news-3">
                                    </div>
                                    <div class="col-sm-6 news-text">
                                        <h4>Những Thói Quen Gây Hại Cho Ô Tô Của Bạn</h4>
                                        <p>Trong quá trình vận hành xe, có nhiều thói quen tốt nhưng cũng có nhiều...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="news-item row">
                                <a href="https://vuongquocgamcao.com/bcar-ha-noi-vuong-quoc-gam-cao-ban-o-to-gi-co-uy-tin-khong/">
                                    <div class="col-sm-6 news-img img-thumbnail">
                                        <img src="../image/news-4.jpg" alt="news-4">
                                    </div>
                                    <div class="col-sm-6 news-text">
                                        <h4>Dak of Car Hà Nội – Vương Quốc Gầm Cao bán ô tô gì? Có uy tín không?</h4>
                                        <p>Dak of Car Hà Nội – Vương Quốc Gầm Cao trực thuộc Công ty...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="news-item row">
                                <a href="https://vuongquocgamcao.com/top-xe-hyundai-tucson-trong-tam-gia-800-trieu-den1-ty-dong/">
                                    <div class="col-sm-6 news-img img-thumbnail">
                                        <img src="../image/news-5.jpg" alt="news-5">
                                    </div>
                                    <div class="col-sm-6 news-text">
                                        <h4>Top xe Hyundai Tucson trong tầm giá 800 Triệu đến 1 tỷ đồng</h4>
                                        <p>Tại Việt Nam, Hyundai Tucson là mẫu xe rất được ưa chuộng, phù hợp với...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="row news-item">
                                <a href="https://vuongquocgamcao.com/top-xe-7-cho-dang-mua-nhat-trong-tam-gia-800-trieu/">
                                    <div class="col-sm-6 news-img img-thumbnail">
                                        <img src="../image/news-6.jpg" alt="news-6">
                                    </div>
                                    <div class="col-sm-6 news-text">
                                        <h4>Top xe 7 chỗ đáng mua nhất trong tầm giá 800 triệu</h4>
                                        <p>Với tài chính khoảng loanh quanh 800 triệu thì đây là những mẫu xe 7...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="news-item row">
                                <a href="https://vuongquocgamcao.com/nhung-mau-xe-7-cho-dang-mua-nhat-trong-tam-gia-500-trieu/">
                                    <div class="col-sm-6 news-img img-thumbnail">
                                        <img src="../image/news-7.jpg" alt="news-7">
                                    </div>
                                    <div class="col-sm-6 news-text">
                                        <h4>Những mẫu xe 7 chỗ đáng mua nhất trong tầm giá 500 triệu</h4>
                                        <p>Tài chính loanh quanh 500 triệu cần tìm mua xe 7 chỗ thì những xe...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="row news-item">
                                <a href="https://vuongquocgamcao.com/chi-phi-bao-duong-la-bao-nhieu-nuoi-xe-toyota-fortuner-co-ton-khong/">
                                    <div class="col-sm-6 news-img img-thumbnail">
                                        <img src="../image/news-8.jpg" alt="news-8">
                                    </div>
                                    <div class="col-sm-6 news-text">
                                        <h4>Chi phí bảo dưỡng là bao nhiêu? Nuôi xe Toyota Fortuner có tốn không?</h4>
                                        <p>Khi cân nhắc lựa chọn mua một chiếc xe ô tô, các anh chị cần...</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="section-contact">
                            <div class="contact-img">
                                <i class="ti-email"></i>
                                <p>Tư vấn mua xe</p>
                                <form name="buyCarForm" action="#" onsubmit="return buyCarValidate()" method="post">
                                    <input type="text" name="name" required placeholder="Họ tên" class="section-input">
                                    <input type="text" name="phone" required placeholder="Số điện thoại" class="section-input">
                                    <input type="text" name="content" required placeholder="Nội dung" class="section-input">
                                </form>
                                <input class="submit" type="submit" name="submit" value="Gửi thông tin" onclick="buyCarValidate(), PhoneNumber(document.buyCarForm.phone)">
                            </div> 
                            <div class="contact-text">
                                <h3>BÀI VIẾT MỚI</h3>
                                <p>
                                    <a href="https://vuongquocgamcao.com/ruoc-vang-cung-xe-ca-nha-vui-ve/">Rước Vàng Cùng Xe, Cả Nhà Vui Vẻ</a>
                                </p>
                                <p>
                                    <a href="https://vuongquocgamcao.com/nhung-luu-y-dac-biet-khi-lai-xe-mua-mua-bao/">Những lưu ý đặc biệt khi lái xe mùa mưa bão</a>
                                </p>
                                <p>
                                    <a href="https://vuongquocgamcao.com/nhung-thoi-quen-gay-hai-cho-o-to-cua-ban/">Những Thói Quen Gây Hại Cho Ô Tô Của Bạn</a>
                                </p>
                                <p>
                                    <a href="https://vuongquocgamcao.com/bcar-ha-noi-vuong-quoc-gam-cao-ban-o-to-gi-co-uy-tin-khong/">Dak of car Hà Nội – Vương Quốc Gầm Cao bán ô tô gì? Có uy tín không?</a>
                                </p>
                                <p>
                                    <a href="https://vuongquocgamcao.com/top-xe-hyundai-tucson-trong-tam-gia-800-trieu-den1-ty-dong/">Top xe Hyundai Tucson trong tầm giá 800 Triệu đến1 tỷ đồng</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Trustworthiness">
                    <img class="bgr-img" src="../image/th.jpeg" alt="anh-nen">
                    <div class="col-sm Trustworthiness-header">
                        <p>TẠI SAO DAK OF CAR LÀ ĐỊA CHỈ MUA XE CŨ ĐÁNG TIN CẬY?</p>
                    </div>
                    <div class="col-sm Trustworthiness-lists">
                        <div class="Trustworthiness-item">
                            <p><i class="ti-receipt tr-icon"></i></p>
                            <p class="slogan">Pháp lý rõ ràng</p>
                            <p class="slogan slogan-top">Sang tên nhanh gọn</p>
                            <p class="sub-slogan">Cam kết xe cung cấp tới khách hàng đều có đầy đủ hồ sơ pháp lý rõ ràng, quy trình sang tên nhanh gọn.</p>
                        </div>
                        <div class="Trustworthiness-item">
                            <p><i class="ti-thumb-up tr-icon"></i></p>
                            <p class="slogan">Quy trình nhập xe nghiêm ngặt</p>
                            <div class="sub-slogan">Toàn bộ xe nhập về showroom đều được kiểm định khắt khe bởi chuyên gia hơn 10 năm kinh nghiệm.</div>
                        </div>
                        <div class="Trustworthiness-item">
                            <p><i class="ti-car tr-icon"></i></p>
                            <p class="slogan">Hỗ trợ giao xe toàn quốc</p>
                            <div class="sub-slogan">Quý khách hàng ở tỉnh, thành phố khác ngoài Hà Nội đều được hỗ trợ xem xe và giao xe tận nơi bởi Bcar.</div>
                        </div>
                        <div class="Trustworthiness-item">
                            <p><i class="ti-money tr-icon"></i></p>
                            <p class="slogan">Hỗ trợ trả góp lên tới 70%</p>
                            <div class="sub-slogan">Quý khách có thể sở hữu ngay chiếc xe yêu thích của mình chỉ từ 30% giá trị xe với thủ tục trả góp nhanh chóng.</div>
                        </div>
                    </div>
                </div>
                <div class="utilities">
                    <div class="section-utilities">
                        <div class="uti-header">
                            <p>TIỆN ÍCH DÀNH CHO BẠN</p>
                        </div>
                        <div class="uti-lists">
                            <div class="item">
                                <i class="ti-search fix-icon"></i>
                                <p>Tìm xe</p>
                                <div class="item-bottom"></div>
                            </div>
                            <div class="item">
                                <i class="ti-car fix-icon"></i>
                                <p>Yêu cầu đặt xe</p>
                                <div class="item-bottom"></div>
                            </div>
                            <div class="item">
                                <i class="ti-thumb-up fix-icon"></i>
                                <p>Ký gửi xe</p>
                                <div class="item-bottom"></div>
                            </div>
                            <div class="item">
                                <i class="ti-truck fix-icon"></i>
                                <p>Đổi xe</p>
                                <div class="item-bottom"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fix-contact">
                        <p class="uti-header">NHẬN TƯ VẤN</p>
                        <p class="sub-contact-hd">Quý khách vui lòng để lại thông tin, đội ngũ tư vấn viên của DAK OF CAR HÀ NỘI sẽ liên hệ và tư vấn trực tiếp.</p>
                        <div class="lists-input">
                            <form name="form1" action="#" onsubmit="return(validate())" method="get">
                                <div class="row">
                                    <div class="col-5">
                                        <input class="section-input" type="text" name="hoten"  placeholder="Họ tên" id="name" required>
                                    </div>
                                    <div class="col-5">
                                        <input class="section-input" type="text" name="tel"  placeholder="Số điện thoại" id="tel"  required>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <input class="submitContact" type="submit" name="submit" value="Yêu cầu tư vấn" onclick="validate(), PhoneNumber(document.form1.tel)">
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-content">
                        <div class="address">
                            <img src="../image/logo.jpg" alt="logo">
                            <h4>DAK OF CAR HÀ NỘI - VƯƠNG QUỐC GẦM CAO</h4>
                            <p><i class="ti-location-pin"></i>26 đường Cầu Diễn, phường Phú Diễn, quận Bắc Từ Liêm, Hà Nội</p>
                            <p><i class="ti-email"></i> dakofcar@gmail.com</p>
                            <p><i class="ti-headphone-alt"></i> Hotline: 0999. 999. 999</p>
                        </div>
                        <div class="policy">
                            <h3>CHÍNH SÁCH</h3>
                            <p>Chính sách thanh toán</p>
                            <p>Chính sách bảo hành</p>
                            <p>Chính sách giao nhận vận chuyển</p>
                            <p>Chính sách bảo mật thông tin</p>
                            <p>Điều kiện và điều khoản</p>
                        </div>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.7452634728297!2d105.75673775075796!3d21.04287628592204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345560ae788aa7%3A0x4c658f950ffb72ca!2zU2nDqnUgVGjhu4sgw5QgVMO0IEJDYXIgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1649730687612!5m2!1svi!2s" width="400" height="250" frameborder="0" allowfullscreen referrerpolicy="no-referrer-when-downgrade" data-ll-status="loaded"></iframe>
                        </div>
                    </div>
                    <div class="footer-ct-bottom">
                        <p>Công Ty TNHH Dak of Car Việt Nam</p>
                        <p>Đại Diện: Lê Trung Kiên.</p>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>Copyright 2023 © Dak of Car - <a href="https://vuongquocgamcao.com/?fbclid=IwAR1m2iB6Zu-OYQlAZENbXcnTKTntiuTkbnTHf7B4mlUllCQmvvDeQhHxKu8">Thiết kế bởi Weboto.com.vn</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- JS link -->
<script src="https://www.w3schools.com/lib/w3.js"></script>  
<script src="/src/statics/js/news.js"></script>
</html>