<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- CSS link -->
    <link rel="stylesheet" href="/src/statics/css/news.css">
    <title>Tin tức</title>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li>
                <a href="./homepage.html">DAK OF CAR</a>
            </li>
            <li>
                <a href="./homepage.html">HOME</a>
            </li>
            <li>
                <a href="./news.html">NEWS</a>
            </li>
            <li>
                <a href="./contact.html">CONTACT</a>
            </li>
        </ul>
    </nav>
    
    <!-- Footer-->
    <footer>
        Copyright 2023 &copy; 
     </footer>
</body>
<script src="/src/statics/js/news.js"></script>
</html>