*{
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}

/* comon */

.text-center {
    text-align: center;
}


/**/

/* main */

.header {
    position: fixed;
    width: 100%;
    background-color: #000;
}

nav{
    border: none;
    background-clip: padding-box;
    display: flex;
    border: none;
    float: left;
}

.section-logo {
    max-width: 100px;
    height: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    margin-left: 32px;
}

nav ul li{
    padding: 0 20px;
    margin: 0 4px;
    line-height: 65.9px; 
}

nav ul li a{
    text-decoration: none;
    color: #ccc;
}

nav ul li:hover {
    background-color: #212121;
    font-size: 18px;
}

.section-search .search-icon {
    float: right;
    color: #fff;
    line-height: 65.9px;
    padding: 0 25px;
}

.search-icon:hover {
    font-size: 20px;
    color: red;
    cursor: pointer;
}

/* footer{
    background-color: aquamarine;
    border: 1px solid #000;
    text-align: center;
    display: inline-flexbox;
} */