*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #353232, #fff);
}

/* Common */

.text-center {
    text-align: center;
}

.text-content {
    color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: 150px;
}

/**/

/* main */

.header {
    position: fixed;
    width: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
}
/* Navigation*/
nav{
    border: none;
    background-clip: padding-box;
    display: flex;
    border: none;
    float: left;
}

.section-logo {
    max-width: 100px;
    height: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    margin-left: 32px;
}

nav ul li{
    padding: 0 20px;
    margin: 0 4px;
    line-height: 65.9px; 
}

nav ul li a{
    text-decoration: none;
    color: #ccc;
}

nav ul li:hover {
    background-color: #212121;
    font-size: 18px;
}
/* Search Icon */
.section-search .search-icon {
    float: right;
    color: #fff;
    line-height: 65.9px;
    padding: 0 25px;
}

.search-icon:hover {
    font-size: 20px;
    color: red;
    cursor: pointer;
}

/* Slideshow Image */

.slider {
    margin-top: 65.5px;
    height: 800px;
}

.slider img {
    width: 100%;
    height: 800px;
}

/* Content */

#content {
    display: flex;
    margin-top: 25px;
}

.inforcation {
    width: 100%;
}
/* Price */
.price {
    color: #fff;
}

.price h4 {
    font-size: 30px;
    text-align: center;
    color: rgb(128, 22, 22);
}

.price ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.price ul li a {
    padding: 10px;
    margin: 0 2px;
    box-shadow: 1px 1px 1px #4a4848;
    background-color: #ddd;
    color: #5a5a5a;
    cursor: pointer;
    text-decoration: none;
}
.price ul li:hover a {
    color: #000;
}

.section-content {
    display: flex;
    justify-content: center;
}

.inforcation-car {
    margin-top: 32px;
}

.inforcation-item {
    padding: 6px 8px;
    margin: 0 5px;
    width: 22%;
    background-color: #edecec;
    background-clip: content-box;
    text-align: center;
    border-radius: 10%;
    box-shadow: 1px 1px 1px #c4c4c4;
}

.name-car {
    font-weight: 700;
    font-size: 20px;
    padding: 8px 8px;
}

.inforcation-item img {
    width: 90%;
    height: 150px;
    border-radius: 5% /*bo tròn các góc của khối*/
    
}
.price-car {
    font-size: 25px;
    font-weight: 700;
    color: rgb(155, 13, 13);
    margin-top: -20px;
}

.section-icon {
    color: rgb(155, 13, 13);
    margin-right: 5px;
    font-size: 18px;
}



/* footer{
    background-color: aquamarine;
    border: 1px solid #000;
    text-align: center;
    display: inline-flexbox;
} */