*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #353232, #fff);
}

/* Common */

.text-center {
    text-align: center;
}

.text-content {
    color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: 150px;
}

.content-top {
    margin-top: 15px;
}

/**/

/* main */

.header {
    position: fixed;
    z-index : 1000; 
    width: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
/* Navigation*/
nav{
    border: none;
    background-clip: padding-box;
    display: flex;
    border: none;
    float: left;
    width: 60%;
}

.section-logo {
    max-width: 60px;
    height: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    margin-left: 40px;
}

nav ul li{
    padding: 0 20px;
    margin: 0 4px;
    line-height: 65.9px; 
}

nav ul li a{
    text-decoration: none;
    color: #ccc;
}

nav ul li:hover {
    background-color: #212121;
    font-size: 18px;
}
/* Search Icon */
.section-search {
    width: 40%;
    position: relative;
}

#search-tab{
    margin-left: 32px;
    width: 90%;
    background-color: rgb(197 197 197 / 35%);
    color: #fff!important;
    border-radius: 15px;
    padding: 6px 10px;
    border: none;
    position: relative;
}

.section-search .search-icon {
    color: #fff;
    float: right;
    position: absolute;
    line-height: 22.5px;
    padding: 5px;
    right: 6%;
}

.search-icon:hover {
    cursor: pointer;
}

/* Content */

#content {
    display: flex;
    margin-top: 25px;
}

.inforcation {
    width: 100%;
}

/* News */

.news {
    color: rgb(184, 4, 4);
    text-align: center;
    margin-top: 70px;
}

.news h2 {
    font-size: 45px;
    font-weight: 700;
}

.news .news-content {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.news-content .section-news {
    width: 60%;    
    border-right: #b1b0b0 solid 2px;
}

.section-news .news-item {
    margin-top: 32px;
    width: 100%;
}

.section-news .news-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.news-img img {
    width: 343px;
    height: 230px;
}

.news-text {
    margin-left: 15px;
}

.news-text h4 {
    font-size: 25px;
    font-weight: 600;
}

.news-text p {
    font-size: 17px;
    font-weight: 400;
}

/* News-contact */

.news .section-contact {
    width: 20%;
    margin-left: 70px;
}

.section-contact .contact-img {

    width: 100%;
    height: 30%;
    text-align: center;
    border: #dcdcdc solid 2px;
    padding: 0 8px;
    padding-top: 16px;
}

.contact-img i {
    font-size: 100px;
}

.contact-img p {
    font-size: 30px;
    font-weight: 500;
}

.contact-input {
    background: url(../../image/brg-oto-es.jpg) top center /cover no-repeat;
    margin-left: -13px;
    border: #b8b7b7 solid 2px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.contact-img button {
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
    margin-left: -10px;
    background-color: rgb(184, 4, 4);
    color: #fff;
    font-weight: 500;
}

.contact-img button:hover {
    background-color: red;
}


.section-contact .contact-text {
    margin-top: 32px;
    height: 50%;
    text-align: center;
}

.section-contact .contact-text p {
    margin-top: 32px;
    padding: 10px;
    border: #cbc9c9 solid 1px;
    cursor: pointer;
}

.section-contact .contact-text a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}


/* Phần cuối */

.Trustworthiness {
    position: relative;
    margin: 64px 0;
}

.Trustworthiness .bgr-img {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
}

.Trustworthiness-lists{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.Trustworthiness-header {
    position: absolute;
    color: rgb(184, 4, 4);
    margin-top: 32px;
    margin-left: 140px;
    font-size: 40px;
    font-weight: 700;

}

.Trustworthiness-item {
    width: 22%;
    height: 50%;
    text-align: center;
    background-color: #fff;
    margin: 0 16px;
    padding: 16px;
}

.Trustworthiness-item .tr-icon {
    font-size: 80px;
    color: rgb(184, 4, 4);
}

.Trustworthiness-item .slogan {
    font-weight: 700;
    font-size: 18px;
}

.sub-slogan {
    font-weight: 500;
}

.slogan-top {
    margin-top: -15px;
}

/* utilities */

.utilities {
    display: flex;
    justify-content: center;
    background-color: #edecec;
    margin-top: -64px;
    padding: 50px;

}

.section-utilities {
    width: 40%;
    margin-right: 40px;
}

.uti-header {
    font-size: 30px;
    font-weight: 600;
    border-left: rgb(184, 4, 4) solid 5px;
    padding-left: 16px;
}

.section-utilities .uti-lists {
    display: flex;
}

.item {
    padding: 32px 0;
    padding-bottom: 5px;
    margin-top: 10px;
    border-left: #ddd solid 2px;
    border-right: #ddd solid 2px;
    border-bottom: #ddd solid 2px;
    background-color: #edecec;
    text-align: center;
    width: 25%;
    cursor: pointer;
    position: relative;
}

.item .fix-icon {
    font-size: 35px;
    color: rgb(184, 4, 4);
}

.item p {
    margin-top: 18px;
}

.item .item-bottom {
    background-color: rgb(184, 4, 4);
    width: 50%;
    height: 5px;
    bottom: 0;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.5s;
}

.item:hover .item-bottom {
    width: 100%;
}

.fix-contact {
    width: 40%;
}

.fix-contact .sub-contact-hd {
    font-size: 16px;
}

.section-input {
    border: #a5a5a5 solid 2px;
    padding: 6px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.fix-contact button {
    border: none;
    background-color: red;
    color: #fff;
    padding: 8px 10px;
    width: 30%;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
}

.fix-contact button:hover {
    background-color: rgb(184, 4, 4);
}


/* footer */
.footer{
   background: url(../../image/brg-oto-es.jpg) top center /cover no-repeat;
   width: 100%;
   height: 20%;
} 

.footer .footer-content {
    display: flex;
   justify-content: center;
}

.footer-content .address { 
    width: 40%;
    color: #fff;
    margin-top: 64px;
}

.address img {
    width: 200px;
    height: 130px;
    border-radius: 50px;
    margin-left: 40px;
    margin-bottom: 26px;
}

.address p {
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

.address p i {
    font-weight: 700;
    margin-right: 10px;
}

.footer-content .policy {
    width: 20%;
    color: #fff;
    margin-top: 64px;
}

.policy p {
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}

.footer-content .map {
    margin-top: 64px;
    width: 30%;
}

.map img {
    width: 100%;
    height: 80%;
}

.footer .footer-ct-bottom {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-top: 200px;
    margin-left: 75px;
}


.footer-bottom {
    width: 100%;
    background-color: #4a4848;
    color: #fff;
    padding: 16px 0;
    margin-top: -32px;
    text-align: center;
}

.footer-bottom p {
    margin-bottom: 0;
    color: #9e9d9d;
}

.footer-bottom p a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
